[Unit]
Description=VDR multicast route register Daemon
After=network.target

[Service]
Type=simple
ExecStart=/app/vdr-route/register-multicast-route.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
